<p>newadmin works!</p>
<h3>View Layer Architecture - Smart Components vs Presentational Components
    View Layer Architecture - Container vs Presentational Components Common Pitfalls
    Service Layer Architecture - How to build Angular apps using Observable Data Services
    Service Layer Architecture - Redux and Ngrx Store - When to Use a Store And Why?
    Service Layer Architecture - Ngrx Store - An Architecture Guide
    In this post we are going to see how an Angular application can be built around the concept of observable data services. This is one of several strategies available for building the application service layer. Let's go over the following topics:
    
    Alternative architectures for building Angular apps
    What is an observable data service
    how to use it
    RxJs Subject and how to use it
    BehaviourSubject and how to use it
    How to build an Observable Data Service
    Pitfalls to avoid
    Conclusions</h3>