<!-- <p-card class="screen">
        <ng-template pTemplate="header">
            
                <app-topbar></app-topbar>
               
        </ng-template>
            <div class="p-grid main">
                <div class="p-col-2">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="p-col-10">
                    <router-outlet></router-outlet>
                </div>
            </div>     
        <ng-template pTemplate="footer">
            <app-footer></app-footer>
        </ng-template>
    </p-card> -->


<div class="screen">
    <app-topbar></app-topbar>
    <div class="p-grid main">
        <div class="p-col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="p-col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
    <app-footer></app-footer>
</div>

