
    <!-- <div class="p-grid p-col-12 p-fluid">
        <div class="p-col-12 p-fluid header">
            <div class="color">
                <p-menubar [model]="item2" class="fixed-top">
                    <ng-template pTemplate="start">
    
                    </ng-template>
    
                    <ng-template pTemplate="end">
                        <div style="text-align: center;">
                            <img style="width: 32px;height: 32px;" src="./../../../assets/logo.png">
                        </div>
                    </ng-template>
                </p-menubar>
            </div>
        </div>
        <div class="col-12 main">
            <div class="p-col-2 side-menu">
                <p-panelMenu [model]="items">
        
                </p-panelMenu>
            </div>
            <div     class="p-col-10  main-content">
                    <router-outlet></router-outlet>
            </div>
        </div>
        <div class="footer" style="background-color: rgb(110 110 145)">
            © {{currenYearFormat}} Copyright:
        </div>
    </div> -->



<div class="grid col-12">
    <div class="col-4">
        <div class="header">
            <div class="color">
                <p-menubar [model]="item2" class="fixed-top">
                    <ng-template pTemplate="start">
    
                    </ng-template>
    
                    <ng-template pTemplate="end">
                        <div style="text-align: center;">
                            <img style="width: 32px;height: 32px;" src="./../../../assets/logo.png">
                        </div>
                    </ng-template>
                </p-menubar>
            </div>
        </div>
    </div>
    <div class="col-12 main">
        <div class="p-col-2 side-menu">
            <p-panelMenu [model]="items">
    
            </p-panelMenu>
        </div>
        <div     class="p-col-10  main-content">
                <router-outlet></router-outlet>
        </div>
    </div>
   
    <div class="footer" style="background-color: rgb(110 110 145)">
        © {{currenYearFormat}} Copyright:
    </div>
</div>

<!-- <div class="header">
    <div class="color">
        <p-menubar [model]="item2" class="fixed-top">
            <ng-template pTemplate="start">

            </ng-template>

            <ng-template pTemplate="end">
                <div style="text-align: center;">
                    <img style="width: 32px;height: 32px;" src="./../../../assets/logo.png">
                </div>
            </ng-template>
        </p-menubar>
    </div>
</div>
<div class="grid p-fluid">
    <div class="p-col-3" >
        <div class="side-menu">
            <p-panelMenu [model]="items">
            </p-panelMenu>
        </div>
    </div>
</div>
<div class="footer" style="background-color: rgb(110 110 145)">
    © {{currenYearFormat}} Copyright:
</div> -->

