// .header {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     padding: 0;
// }

// .footer {
//     position: fixed;
//     bottom: 0;
//     width: 100%;
//     height: 5vh;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .text-center {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

//header menu-bar
// ::ng-deep .p-menubar {
//     padding: 0.8rem;
//     background-color: #3F51B5;
//     color: #f8f9fa;
//     font-size: x-large;
// }

// .main-content {
//     margin-top: 44px;
//     height: 70vh;
//     position:static
// }

// .main-content {
   
//     position:static
// }
//side Menu
// .side-menu {
//     margin-top: 50px;
//     background-color:white;
//     // width:15%;
//     // width: 100%; 
//     height: 710px;
// }

// ::ng-deep .p-panelmenu .p-panelmenu-header>a {
//     border: 0px solid red;
// }

// ::ng-deep .p-panelmenu .p-panelmenu-header>a {
//     padding: 1.1rem;
//     color: black;
//     background:white;
//     font-weight: 700;
//     border-radius: 6px;
//     transition: box-shadow 0.2s;
// }


.screen{
    width:99%;
}
//header menu-bar
::ng-deep .p-menubar {
    padding: 0.8rem;
    background-color: #3F51B5;
    color: #f8f9fa;
    font-size: x-large;
    // width:101%;
}

::ng-deep .p-card .p-card-content {
     padding: 0rem; 
}
//center
.main{
    height:auto;
}

//side menu
.side-menu {
    padding: 0rem; 
    height:100%;
    background-color: blue;
}

::ng-deep .p-panelmenu .p-panelmenu-header>a {
    border: 0px solid red;
    border:none
}
//main content center
.main-content {   
    // margin-left:20rem
    position:fixed;
    height: 100%;
}

//footer
.footer {
    position: fixed;
    bottom: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    color:black
}
// .p-overlaypanel {
//     display: visible;
//     background: #e0e0e0;
// }
// @media screen and (max-width: 896px) {
//     p-overlaypanel{
//         display: block;
//     }
// }   
// @media (min-width: 320px) and (max-width: 480px) {
//     body {
//         background-color: #DE3163;
//     }
// }


// @media (min-width: 481px) and (max-width:768px) {
//     .side-menu {
//         margin-top: 44px;
//         background-color: rgb(90, 90, 90);
//         // width:15%;
//         // width: 100%; 
//         height: 710px;
//     }
// }


// @media (min-width: 600px) and (max-width: 768px) {
//     .side-menu {
//         margin-top: 44px;
//         background-color: rgb(90, 90, 90);
//         // width:15%;
//         // width: 100%; 
//         height: 710px;
//     }
// }


// @media (min-width: 769px) and (max-width: 1024px) {
//     body {
//         background-color: #DE3163;
//     }
// }