.screen{
    width:99%;
    z-index:1
}
.main{
    display:flex;
    margin-top: 3%;
    // height:670px;
    height: 87%;
}
:host ::ng-deep .p-card .p-card-content  {
    padding: 0rem;
    margin:0rem
}

