.h-screen {
    background: grey;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    background-image: url('/assets/doctor_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100vh
}

.card{
    align-items: center;
    // width:20%;
    justify-content: center;
    height:auto;
 //    background-color: rgb(228, 220, 220);
    //  background-color:transparentize($color: #e9d4d4, $amount: 0.5)
 }