<p-toast></p-toast>
<div class=" ">
    <p-card>
        <p-table #datatable [columns]='' responsiveLayout="stack" [value]="usersData" dataKey="edit" editMode="row" 
        [paginator]="true" [rows]="10"  [showCurrentPageReport]="true" 
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            styleClass="p-datatable-lg" [tableStyle]="{'min-width': '50rem'}"
            [globalFilterFields]="['Id','username','PhoneNumber','Email','Role']">
                <ng-template pTemplate="caption">   
                    <div style="text-align: right">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" class="pi pi-search" pInputText size="50" class="p-inputtext-lg" placeholder="Global Filter"
                            (input)="datatable.filterGlobal($event.target.value, 'contains')" style="width:auto" />
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns >
                    <tr>
                        <th style="width:15%">ID</th>
                        <th style="width:15%">User Name</th>
                        <th style="width:15%">Phone Number</th>
                        <th style="width:20%">Email</th>
                        <th style="width:15%"> Role</th>
                        <th style="width:8%"> Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data let-editing="editing" let-ri="rowIndex" let-columns="columns">
                    <tr [pEditableRow]="data" style="cursor: pointer;" class="textCenter">
                        <td>{{data.Id}}</td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="data.username">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{data.username}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="data.PhoneNumber">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{data.PhoneNumber}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input pInputText type="text" [(ngModel)]="data.Email">
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{data.Email}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                        <td pEditableColumn>
                            {{data.Role}}
                        </td>
                        <td style="text-align:center">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                                (click)="onRowEditInit(data)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                                (click)="onRowEditSave(data)"
                                class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                                class="p-button-rounded p-button-text p-button-danger"></button>
                        </td>
                    </tr>
                </ng-template>
        </p-table>
    </p-card>
</div>
