.search {
    float: right;
}
//max width 960px
// :host ::ng-deep .p-card {
//     width: 100%;
//     padding: 2rem
// }


@media (min-width: 320px) and (max-width: 480px) {
    ::ng-deep .p-inputtext.p-inputtext-lg {
        margin-top: 17px;
        margin-left: 10px;
        width: 170px;
    }

    ::ng-deep .p-datatable .p-datatable-header {
        
        width: 50px;
    }
    
    ::ng-deep .p-card .p-card-body {
        padding: 1rem;
        margin-left: 25px;
    }

    
    ::ng-deep .p-datatable .p-paginator-bottom {

    width: 700px;
}

}

@media (min-width: 481px) and (max-width: 768px) {
    ::ng-deep .p-inputtext.p-inputtext-lg {
  
        margin-top: 17px;
        margin-left: 10px;
        width: 190px;
    }

    ::ng-deep .p-datatable .p-datatable-header {
        
        width: 135px;
    }

    ::ng-deep .p-card .p-card-body {
        padding: 1rem;
        margin-left: 20px;
    }


    ::ng-deep .p-datatable .p-paginator-bottom {

        width: 700px;
    }
    
}

@media (min-width: 769px) and (max-width: 1024px) {
    ::ng-deep .p-inputtext.p-inputtext-lg {
    margin-right: 24%;
    }

    ::ng-deep .p-datatable .p-paginator-bottom {

        width: 700px;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    ::ng-deep .p-inputtext.p-inputtext-lg {
        margin-right: 38%
        }
    
}

@media (min-width: 1201px) and (max-width: 1500px) {
    ::ng-deep .p-inputtext.p-inputtext-lg {
        margin-right: 47%
        }
    
    
}

@media (min-width: 1501px) and (max-width: 1700px) {
    ::ng-deep .p-inputtext.p-inputtext-lg {
        margin-right: 57%
        }
    
}