<div class="p-grid" >
    <div class="p-col-4 ">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions" class="bar"></p-chart>
    </div>

    <div class="p-col-4 ">
        <p-chart type="doughnut" [data]="data" [options]="chartOptions" class="doughnut"></p-chart>
    </div>

    <div class="p-col-4">
        <p-chart type="pie" [data]="data1" [options]="chartOptions1" class="pie"></p-chart>
    </div>

    
    <div class="p-col-4">
        <p-chart type="line" [data]="basicData1" [options]="basicOptions1" class="line"></p-chart>
    </div>

    
    <div class="p-col-4">
        <p-chart type="polarArea" [data]="data2" [options]="chartOptions2" class="polar"></p-chart>
    </div>

    
    <div class="p-col-4">
        <p-chart type="radar" [data]="data3" [options]="chartOptions3" class="radar"></p-chart>
    </div>

</div>


<!-- <div class="p-grid">
    <div class="col">1</div>
    <div class="col">2</div>
    <div class="col">3</div>
</div> -->