<div class="grid">
    <div class="col-12 header">
        <div class="color">
            <p-menubar [model]="item2" class="fixed-top">
                <ng-template pTemplate="start">
              
                </ng-template>

                <ng-template pTemplate="end">
                    <div style="text-align: center;">
                        <img style="width: 32px;height: 32px;" src="./../../../assets/logo.png">
                    </div>
                </ng-template>
            </p-menubar>
        </div>
    </div>

    <div class="col-3 side-menu">
        <p-panelMenu [model]="items">

        </p-panelMenu>
    </div> 
    <!-- <div class="col-9 main-content">
        <router-outlet></router-outlet>
    </div> -->

    <div class="footer" style="background-color: rgb(110 110 145)">
        © {{currenYearFormat}} Copyright:
        <!-- <a class="text-dark" href="">Saikumar</a> -->
    </div>
</div>
