.btn {
    // float: right;
    // margin-right: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mandatoryColor {
    color: red
  }
  
  .gap{
  margin-top:1%;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }