.btn {
  background-color:none;
   color:#8b8b90;
   justify-content: center;
   display:flex;
   align-items: center;
}
.mandatoryColor {
  color: red
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.h-screen {
background: grey;
display: flex;
justify-content: center;
align-items: center;
background-image: url('/assets/login_bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: auto;
}
:host ::ng-deep  .p-card{
background: #252529;
color: #f8f9fa;
height:auto;
width:200% !important;  
}
.pannel {
  color: none;
  background: none;
  border: none;
}
.p-button:enabled:hover {
  background: none;  
}
::ng-deep .p-inputtext  {
width: 100%;
}
.textFields {
background-color: #f8f9fa ;
}
.p-button {
color: #727272;
background: white;
border: none
}
.p-button:enabled:hover {
background: none;   
}
::ng-deep .p-dropdown{
width: 100%;
}