.btn {
    // float: right;
    // margin-right: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mandatoryColor {
    color: red
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  .gap{
    margin-top:1%;
    }
    
  input[type=number] {
    -moz-appearance: textfield;
  }
  @media (min-width: 320px) and (max-width: 480px) {
    ::ng-deep .p-col-10 {
       padding-left: 82px;
       width: 83.3333%;
     }
   }