.side-menu {
    background: rgb(65, 65, 65);
    height: 100%;
    position: fixed;
    z-index: 100;
    width: 16%;
}
::ng-deep .p-panelmenu .p-panelmenu-header>a {
    border: 0px solid red;
    color: rgb(201, 195, 195);
    display: block;
    background: rgb(65, 65, 65);
}
