.side-menu {
    background: rgb(65, 65, 65);
    height: 100%;
    position: fixed;
    z-index: 100;
    width: 16%;
}
::ng-deep .p-panelmenu .p-panelmenu-header>a {
    border: 0px solid red;
    color: rgb(201, 195, 195);
    display: block;
    background: rgb(65, 65, 65);
}
@media (min-width: 320px) and (max-width: 480px) {
    ::ng-deep .p-col-2 {
        padding-top: 50px;
        width: 20%;
    }
    ::ng-deep .main {
        width: 450px;
    }
    ::ng-deep .p-col-11 {
        width: 391px;
        padding-left: 80px;
        width: 474px;
        padding-right: 31px;
        padding-top: 20px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    ::ng-deep .p-col-2 {
        padding-top: 46px;
    }
    ::ng-deep .p-col-11 {
        width: 402px;
        padding-right: 72px;
        padding-top: 60px;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    ::ng-deep .p-col-2 {
        padding-top: 40px;
    }
    ::ng-deep .p-col-11 {
        width: 668px;
        padding-right: 92px;
        padding-top: 65px;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    ::ng-deep .p-col-2 {
        padding-top: 30px;
    }
    ::ng-deep .p-col-11 {
        width: 965px;
        padding-right: 160px;
        padding-top: 60px;
    }
}
@media (min-width: 1201px) and (max-width: 1500px) {
    ::ng-deep .p-col-2 {
        padding-top: 24px;
    }
    ::ng-deep .p-col-11 {
        width: 1145px;
        padding-right: 241px;
        padding-top: 60px;
    }
}
@media (min-width: 1501px) and (max-width: 1700px) {
    ::ng-deep .p-col-2 {
        padding-top: 12px;
    }
    ::ng-deep .p-col-11 {
        width: 1145px;
        padding-top: 60px;
        padding-right: 260px;
    }
}