<!-- <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
            <h1 style="font-size:30px;font-family: sans-serif;"><b>Welcome to Miracle’s Helpdesk Portal!</b></h1><br>
            <p class="demo" style="font-size:small;font-family: sans-serif">At help.miraclesoft.com you can get help across Miracle’s HR(Operations), Infrastructure(IT) and Application(Miracle Apps) 
                teams by simply raising a 
                ticket. You can review ticket status, communicate with the assigned agent and more, all right here!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="margin-right:0px">
      <div class="card s">
        <div class="card-body">
          <h5>Your Ticket Count</h5>
          <div style="display: flex;margin-left: 4vw;text-align: center;" >
         <p class="b" >APPS<br><span>2</span></p>
         <p class="b" >HR<br><span>5</span></p>
         <p class="b" >IT<br><span>1</span></p>
        </div>
      </div>
    </div>
  </div>

 
   -->



   <div class="demo" style="background-image: url(../assets/bg-login.jpg);background-size: cover;height: 100vh;width: 100vw;">

     

    <p-card
    class="left" [style]="{'height': '600px','width':'400px','margin-left':'auto','margin-top':'10vh','background-color':'rgb(19 165 213 / 39%)'}">
        <div style="margin-top:10%" >
            <h5>Welcome to</h5>
            <h5>help.miraclesoft.com</h5>
            <h5>where everything is for you!</h5>
            <p style="color:white;float: right;padding-top: 45vh;"> Built for <span style="color:black">Miracle</span>
                by
                Miracle
            </p>
        </div>
    </p-card>




<p-card class="right" [style]="{'height': '600px','width':'400px','margin-right':'auto','margin-top':'10vh','background-color':'#00000073'}">
    <img src="./assets/miracle.svg" width="50%" height="12%" style="margin-left:100px;margin-top:0px"><br><br>
    <h3
        style="color:aliceblue;text-align:center;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size:medium;">
        Login to your account</h3><br>
    <div class="p-fluid ">
        <div>
            <form [formGroup]="form">

                <!-- <label for="">Username</label>
          <input type="text" pInputText placeholder="Enter Username" formControlName="username"> -->

                <!-- 
          <div *ngIf="form.controls.username.touched && form.controls.username.invalid">
            <span class="validationtest" style="color: red;">Corporate Mail is required</span>
        </div>
        <div *ngIf="form.controls.username.errors?.pattern" style="color: red;">Must be
            Validate Corporate Mail </div>
        -->

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter Email Id</label>
                    <input type="text" pInputText formControlName="username"
                        placeholder="Hint: *****@miraclesoft.com"><br>
                    <span style="color: red"
                        *ngIf="form.controls.username.invalid && form.controls.username.touched || form.controls.username.dirty">
                        <span *ngIf="form.controls.username.errors?.required">User Name is Required</span>
                        <span *ngIf="form.controls.username.errors?.pattern">Please Enter Corporate Email</span>

                    </span>
                </div>


                <!-- <div style="color: red" *ngIf="form.controls.username.invalid && form.controls.username.touched ">
            User Name is Required
                    <span *ngIf="form1.controls.username.errors?.pattern">Must use @</span>
        </div>&nbsp;<br> -->

                <label for="">Password</label>
                <input type="password" pInputText placeholder="Enter Password" formControlName="password"
                    minlength="3" maxlength="15">
                <div style="color: red"
                    *ngIf="form.controls.password.invalid && form.controls.password.touched || form.controls.password.dirty">
                    <span *ngIf="form.controls.password.errors?.required">Password is Required</span>
                </div>
            </form>
        </div>
        <br><br>
        <button pButton label="Login" [disabled]="form.status=='VALID'" (click)="onClick()"></button>
       

        <br>

    </div>
    <p style="color:white;text-align:center;display: flex;justify-content: end;align-items: flex-start;" class="h">
        © 2022 Miracle Software Systems, Inc.</p>
</p-card>
</div>