.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mandatoryColor {
  color: red
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}