<div class="card p-grid "> 
    <div class="p-col-3" *ngFor="let list of doctorData"  >
      <p-card    [style]="{'height':'100%'}" >
        <ng-template header="header" pTemplate="header"  >
                          
          <img  alt="Card" [src]="list.img" width="100" height="200" >
          
       </ng-template>
     

       <h6 > <b>Doctor Name :</b> &nbsp; Dr.{{list.name}}</h6>
          <!-- <p  pTooltip={{list.designation}}  tooltipPosition="bottom"> <b> Designation :</b>&nbsp;{{list.designation}}</p> -->
          <p  pTooltip={{list.designation}}  > <b> Designation :</b>&nbsp;{{list.designation}}</p>
          <p> <b> Available Time :</b>&nbsp;{{list.availabletime}}</p>
           <b> Ratings :</b><p-rating></p-rating>

       <!-- <br/> -->
       <!-- <p-button label="Book Slot" class="slotbtn" (click)="slot()"  ></p-button> -->
       <ng-template pTemplate="footer"   >
        
          <p-button label="Book Slot" *ngIf="slotbtn" class="slotbtn" (click)="slot()"  ></p-button>
     
       </ng-template>
      </p-card>

    </div>
</div>



<p-toast></p-toast>