<!-- <div class="card p-grid p-col-12">
    <div class="p-col-12" [style]="{'height':'100%'}">
        <p-card >
            <ng-template header="header" pTemplate="header">
    
            </ng-template>
            <img alt="card" [src]="assets/home.jpg" width="100" height="230">
            <ng-template pTemplate="footer">
                <p-button label="Submit" (click)="slot(list)" [disabled]="list.clicked" class="slotbtn">
                </p-button>
            </ng-template>
        </p-card>
    </div>
</div> -->


<div class="p-grid content">
    <!-- <div class="p-col-4">4</div>
    <div class="p-col">1</div>
    <div class="p-col">1</div>
    <div class="p-col">1</div>
    <div class="p-col">1</div>
    <div class="p-col">1</div>
    <div class="p-col">1</div>
    <div class="p-col">1</div>
    <div class="p-col">1</div> -->
</div>